---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "我的首页";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>欢迎来到我的个人博客！在这里我分享我的学习和生活经验。</p>
</BaseLayout>